/* Import Tailwind CSS */
@import "tailwindcss";

/* Font Faces */
@font-face {
  font-family: 'VCR';
  src: url('/fonts/VCRosdNEUE.ttf') format('truetype');
}

@font-face {
  font-family: 'PixelWide';
  src: url('/fonts/MultiTypePixelWide.otf') format('truetype');
}

@font-face {
  font-family: 'IBMPlex';
  src: url('/fonts/IBMPlex-Regular.ttf') format('truetype');
}

/* Global Styles */
html {
  background-color: #0f0f0f;
  color: white;
  font-family: 'PixelWide', sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  font-family: 'PixelWide', sans-serif;
}

* {
  box-sizing: border-box;
}

/* Heading Styles */


h1 {
  @apply text-4xl font-bold;
}

h2 {
  @apply text-2xl font-bold;
}

h3 {
  @apply text-lg;
}

p {
  @apply text-[16px];
 
}

.blog-header {
  @apply px-[120px];

}

.blog-content {
  @apply px-[120px];
  @apply py-[80px];
}

/* Navigation Styles */
.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #ff9776;
}

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: #ff9776;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: #ff9776;
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }
}

/* Dark Mode Styles */
html.dark {
  background-color: #232222;
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}

/* Scroll Top Navbar */
.scroll-top .navbar {
  background-color: transparent !important;
}

.navbar {
  /* height: 60px; /* Set the height of your navbar */
}

/* Main Content */
main {

}

.test-bg{
  background-color: rgb(2, 2, 2);

}
.test-fg
{
  background-color: #0f0f0f;
 max-width: 80%;
}

h3.subtitle
{
  color: #b8bbc6;
  font-style: italic;
}

/* Gradient Horizontal Rule */
hr.gradient-hr {
  height: 5px; /* Adjust the height as needed */
  border: none; /* Remove the default border */
  background: linear-gradient(to right, #ffb83e, #f73333, #ff4ded, #3367f7); /* Your gradient colors */
  margin-top: 6px;
}

hr.post-end
{
  margin: 20px 0 20px 0;
}

/* Blog Font */
.blog-content {
  font-family: 'IBMPlex', sans-serif;

}
.tags {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  margin: 0.25em;
  border: dotted 1px #a1a1a1;
  border-radius: 0.4em;
  padding: 0.5em .5em;
  font-size: 5px;
  background-color: #f8fcfd;
}