---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
  <div class="page-line index">
  <div class="main-font flex flex-col justify-center items-center h-full">
  
  <h3>michael rodriguez presents</h3>
  <h2 class="front-page">A PORTFOLIO</h2>
  <Greeting client:load messages={["Debugging the Damned", "The 404 Zone Awaits", "The Code is Cursed", "A Nightmare on Code Street"]} />
</div>
</div>
</BaseLayout>
