---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header class="bg-red-500 w-full">
  <nav class="">
    <Hamburger />
    <ThemeIcon />
    <Navigation />
  </nav>
</header>
