---
import Social from "./Social.astro";
---

<div class="nav-links">
  <a href="/" class="">Home<span class="cursor">_</span></a>
  <a href="/about/">About<span class="cursor">_</span></a>
  <a href="/blog/">Blog<span class="cursor">_</span></a>
  {/*<a href="/tags/">Tags</a> */}
</div>

