---
import Social from "./Social.astro";
---

<div class="nav-links">
  <a href="/the-blog/">Home<span class="cursor">_</span></a>
  <a href="/the-blog/about/">About<span class="cursor">_</span></a>
  <a href="/the-blog/blog/">Blog<span class="cursor">_</span></a>
  {/*<a href="/tags/">Tags</a> */}
</div>

