---
const { platform, username } = Astro.props
---
<div class="nav-links">
<a href={`https://www.${platform}.com/${username}`}></a>
</div>
<style>
  a {
    
    color: white;
    background-color: #4c1d95;
    text-decoration: none;
  }
</style>
