---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";


import "../styles/global.css";
const { pageTitle, blogImg } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
  
    <link rel="icon" type="image/svg+xml" href="/the-blog/favicon.svg" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body class="scroll-top h-full flex flex-col">
    <Header />
    
      

      <slot/>
    
    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>
