---
import BaseLayout from "./BaseLayout.astro";
import TagButton from "../components/TagButton.tsx";

const { frontmatter } = Astro.props;
---

<BaseLayout>
  <img
    class="w-full h-[240px] md:h-[480px] lg:h-[600px] object-cover object-center"
    src={frontmatter.image.url}
  />
  <div class="page-scaling">
    <div class="tags pt-[10px] gap-3">
      {
        frontmatter.tags.map((tag: string) => (
          <p>
            <TagButton tag={tag} client:visible />
          </p>
        ))
      }
    </div>
    <div class="">
    <div class="flex post-title justify-between items-end">
      <h1>{frontmatter.title}</h1>
      <p class="post-date">{frontmatter.pubDate.toString().slice(0, 10)}</p>
    </div>
  </div>

    <div class="page-line blog"></div>

  <div class="">
    <h3 class="post-subtitle">{frontmatter.description}</h3>
  </div>
</div>
  <div>
    <main class="post-content page-scaling">
      <slot />
    </main>
  </div>
</BaseLayout>
