---
import BaseLayout from "./BaseLayout.astro";
import TagButton from "../components/TagButton.tsx"

const { frontmatter } = Astro.props;

---
<BaseLayout>
  <img class="w-full" src={frontmatter.image.url}>
  
  <div class="tags blog-header gap-3">
    {
      frontmatter.tags.map((tag: string) => (
        <p> 
          <TagButton tag={tag} client:visible />
        </p>
      ))
    }
  </div>
  <div class="blog-header flex justify-between items-end">
    <h1>{frontmatter.title}</h1>
    <p>{frontmatter.pubDate.toString().slice(0, 10)}</p>
  </div>
 <hr class="gradient-hr">
 <h3 class="blog-header subtitle">{frontmatter.description}</h3>
<div>
  <main class="blog-content">
    <slot/>
  </main>
</div>

</BaseLayout>
